.center {
  font-family: sans-serif;
  padding: 50px 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.container1 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end
}

.item1 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;
}





.container2 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item2 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;

  &-i2 {
    height: 200px;
  }
}





.container3 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: column; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item3 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;
}





.container4 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item4 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;

  &-i2 {
    height: 200px;
  }

  &-i4 {
    align-self: flex-end;
  }
}





.container5 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item5 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;

  &-i5 {
    order: -1;
  }

  &-i1 {
    order: 1;
  }
}






.container6 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item6 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;

  flex: 1;

  &-i2 {
    flex: 0 0 20%;
  }

  &-i4 {
    flex: 5;
  }
}





.container7 {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  justify-content: center; //space-between / space-around / space-evenly flex-end
  flex-wrap: wrap;

  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
}

.item7 {
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;
}





.container {
  background-color: #ccc;
  padding: 10px;
  
  display: flex; //or inline-flex
  flex-direction: row; // row-reverse / column / column-reverse
  
  // ALONG MAIN AXIS
  justify-content: center; //space-between / space-around / space-evenly flex-end
  
  // ALONG CROSS-AXIS
  //First, set i2 height to 250px
  align-items: center; // center / stretch / flex-end / flex-start / basleine (set size to 60px)
  
  // Copy 5 more items
  //flex-wrap: wrap;
  
  //height: 100vh;
  align-content: space-between;
}

.item {
  //flex: 1;
  
  background-color: #F1425D;
  margin: 30px;
  color: #fff;
  font-size: 40px;
  padding: 50px;

  &-i2 {
    height: 250px;
    //font-size: 60px;
  }
  
  &-i4 {
    //order: -1; //Default is 0, so -1 is first, and 1 is last
    align-self: flex-end; //For this, set i2 back to 250px;
  }
  
  &-i1 {
    //flex: 1;
    flex: 0 1 20%; //flex-basis is defualt size before the rest of the space is divided
  }
  
  &-i5 {
    flex: 1; //try higher values
  }
}